@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>You have successfully register as a Provider</p>
    <hr>
    <p class="mb-0">Thank you for Registering</p>
</div>
